<md-dialog aria-label="Detailed Infromation" class="fullscreen-dialog">
    <form ng-cloak>


        <md-dialog-content>
            <div layout="row" style="background:lightgrey">

                <ul>
                    <li layout="row" style="font-size:25px;font-weight:bold;padding-bottom: 5px;">
                        <Label>CTG {{machine.TrailerID}} </Label>
                    </li><span flex></span>
                    <li layout="row" style="font-size:18px;font-weight:bold;color:red">
                        <Label>{{machine.TrailerName}}</Label>
                    </li><span flex></span>
                    <li layout="row" style="font-size:15px">
                        <Label>{{machine.TrailerType}}</Label>
                    </li>
                </ul> 
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons md-toolbar_icon md-24">
                        close
                    </md-icon>
                </md-button>
            </div>
            <div class="md-dialog-content">

                <div layout="row" style="padding-bottom:15px;border-bottom:1px solid lightgrey">
                    <label style="float: right;
                                  width: 30%;font-size:12px">DOT Date: {{machine.DOTDate}}</label>
                    <label style="
                                  text-align: rle;
                                  width: 35%;
                                  font-weight: bold;font-size:15px
                                  ">History</label>
                    <label style="text-align: right;
                                  width: 35%;
                                  font-weight: bold;
                                  color: black;font-size:20px">{{machine.trailerStatus}}</label>

                </div>
                <div layout="row" style="padding:10px 0 10px 0;border-bottom:1px solid lightgrey">
                    <div style="width:30%">
                        <div class="row"><h4>From: {{machine.from}}</h4></div>
                        <div class="row"><h4>To: {{machine.to}}</h4></div>
                    </div>
                    <div style="width:70%;height:200px;overflow:scroll">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                            <thead>
                                <tr>
                                    <th>SNo.</th>
                                    <th>Order #</th>

                                    <th>
                                        <span>Orgin Name</span>
                                    </th>
                                    <th>
                                        <span>Bill to Name</span>
                                    </th>
                                    <th>
                                        <span>Orgin City</span>
                                    </th>
                                    <th>
                                        <span>Destination City</span>
                                    </th>
                                    <th>
                                        <span>Start Date</span>
                                    </th>
                                    <th>
                                        <span>End Date</span>
                                    </th>
                                   

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="history in machine.histories" >
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <span>{{history.OrderID}}</span>
                                    </td>
                                    <td>
                                        <span>{{history.OriginName}}</span>
                                    </td>
                                    <td>
                                        <span>{{history.BillToName}}</span>
                                    </td>
                                    <td>

                                        <span>{{history.OriginCity}}</span>
                                    </td>
                                    <td>
                                        <span>{{history.DestinationCity}}</span>
                                    </td>
                                    
                                    <td>
                                        <span>{{history.StartDate}}</span>
                                    </td>
                                    <td>
                                        <span>{{history.EndDate}}</span>
                                    </td>



                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div layout="row">
                    <ul style="list-style:none;font-size:12px">
                        <li><label>Compliance: {{machine.Compliance}}</label></li>
                        <li><label>IOT Info: {{machine.IOTInfo}}</label></li>
                        <li><label>Road Worthiness: {{machine.RoadWorthiness}}</label></li>
                    </ul>
                </div>

            </div>
        </md-dialog-content>


    </form>
</md-dialog>
