<md-dialog aria-label="Detailed Infromation" class="halfscreen-dialog" style="height: 65%;">
    <form ng-cloak>


        <md-dialog-content>
            <div layout="row"  layout-align="center center" style="background:lightgrey">
                <Label style="font-size:25px;font-weight:bold;padding: 15px 15px 15px 15px;">Edit Pool Attributes </Label>

                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons md-toolbar_icon md-24">
                        close
                    </md-icon>
                </md-button>
            </div>
            <div class="md-dialog-content" style="padding:15px 15px 0px 15px">

                <div layout="row" layout-align="center center" style="padding-bottom:15px;border-bottom:1px solid lightgrey">

                    <ul style="list-style:none;padding-left: 0px;">
                        
                        <li>
                            <md-input-container>
                                
                                <input class="md-input" placeholder="Required Count" type="text" aria-invalid="true">
                            </md-input-container>
                        </li>
                        <li>
                            <md-input-container>
                                
                                <input class="md-input" placeholder="CSR Name" type="text" aria-invalid="false">
                            </md-input-container>
                        </li>
                        <li>
                            <md-input-container>
                                
                                <input class="md-input" placeholder="Planner Name" type="text" aria-invalid="false">
                            </md-input-container>
                        </li>
                        <li>
                            <md-input-container>
                                
                                <input class="md-input" placeholder="Site Identification" type="text" aria-invalid="false">
                            </md-input-container>
                        </li>

                    </ul>

                </div>

                <div layout="row"  layout-align="center center">

                    <md-button flex="10" class="md-raised md-warn" style="background-color:#00264B;float: right;">
                        Ok
                    </md-button>
                    <md-button flex="10" class="md-raised md-warn" style="background-color:#00264B;float: right;" ng-click="cancel()">
                        Cancel
                    </md-button>
                </div>

            </div>
        </md-dialog-content>


    </form>
</md-dialog>
