<md-content id="view1" layout="row" flex layout-wrap layout-padding >

<div layout="row" >
           <!-- <md-button  class="md-raised md-primary login-button" ng-click="doLogin()">Trailer Management</md-button>
            <md-button  class="md-raised md-primary login-button" ng-click="doLogin()">Yard Management</md-button>-->
     <div style="padding: 7px 20px 0px 20px;height:30px;border-right:2px solid silver;  "><a href="#!/tracker" style="color:gray; text-decoration:none;font-size:18px">Home</a></div>
        <div style="padding: 7px 20px 0px 20px;height:30px;border-right:2px solid silver;   "><a href="#!/allocation" style="color:gray; text-decoration:none;font-size:18px">Allocation</a></div>
        <div style="padding: 7px 20px 0px 20px;height:30px;background: #00264B"><a href="#" style="color:white;text-decoration:none;font-size:18px">Yard Management</a></div>
        
        </div>
    <div flex-gt-md="100" flex-md="100" flex-xs="100">

       
           <md-card flex="100" md-whiteframe="2" style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;">
        <!-- <md-card-title>-->
         <div layout="row" style="background:lightgrey">
            <div style="font-size:16px;PADDING: 10px 0px 10px 28px;"><b > Yard Managment</b> </div>
        </div>
        </md-card>
    </div>
</md-content>


