<md-content id="view1" layout="row" flex layout-wrap layout-padding >

<div layout="row" >
           <!-- <md-button  class="md-raised md-primary login-button" ng-click="doLogin()">Trailer Management</md-button>
            <md-button  class="md-raised md-primary login-button" ng-click="doLogin()">Yard Management</md-button>-->
     <div style="padding: 7px 20px 0px 20px;height:30px;border-right:2px solid silver;  "><a href="#" style="color:gray; text-decoration:none;font-size:18px">Home</a></div>
        <div style="padding: 7px 20px 0px 20px;height:30px;border-right:2px solid silver;   background: #00264B"><a href="#!/view2" style="color:white; text-decoration:none;font-size:18px">Allocation</a></div>
        <div style="padding: 7px 20px 0px 20px;height:30px;"><a href="#" style="color:gray;text-decoration:none;font-size:18px">Yard Management</a></div>
        
        </div>
    <div flex-gt-md="100" flex-md="100" flex-xs="100">

       
          <md-card flex="100" md-whiteframe="2" style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;">
        <!-- <md-card-title>-->
         <div layout="row" style="background:lightgrey">
            <div style="font-size:16px;PADDING: 10px 0px 10px 28px;"><b > Allocation</b> </div>
        </div>
       
          <md-card-content>
        <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
            <div layout-gt-sm="row" layout-sm="column" >

                <div  layout="row" flex-gt-sm="25" flex-sm="100"  layout-align=" start">
                    <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                        <input ng-model="code"
                               class="md-input"
                               ng-change="gridActions.filter()"
                               id="order"
                               placeholder="Search By State"
                               filter-by="rowid"
                               filter-type="text"
                               aria-invalid="false">
                    </md-input-container>
                    <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                        <input ng-model="code"
                               class="md-input"
                               ng-change="gridActions.filter()"
                               id="order"
                               placeholder="Search by City"
                               filter-by="rowid"
                               filter-type="text"
                               aria-invalid="false">
                    </md-input-container>
                </div>
                
                
            </div>
            <div style="overflow:scroll">
                <div layout="row " class="tittle">
                    <div class="title-txt">List of Orders</div>
                    
                    
                </div>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th></th>
                            <th >
                                <span>Status</span>
                            </th>
                            <th >
                                <span>Order #</span>
                            </th>
                             <th >
                                <span>Orgin Name</span>
                            </th>
                            <th >
                                <span>Bill to Name</span>
                            </th>
                             <th >
                                <span>Orgin City</span>
                            </th>
                             <th >
                                <span>Destination City</span>
                            </th>
                             <th >
                                <span>Service</span>
                            </th>
                             <th >
                                <span>Tractor</span>
                            </th>
                             <th >
                                <span>Trailer</span>
                            </th>
                             <th >
                                <span>Ref #</span>
                            </th>
                            
                             <th >
                                <span>Ref Type</span>
                            </th>
                             <th >
                                <span>Order Remark</span>
                            </th>
                             <th >
                                <span>Details</span>
                            </th>



                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr grid-item  ng-click="showTrailers(item)"  ng-class="{selectedClass : item.order === selectedOrderId}">
                            <td>{{$index+1}}</td>
                            <td >
                                <span>{{item.status}}</span>
                            </td>
                            <td >
                                <span >{{item.order}}</span>
                            </td>
                             <td >
                                <span>{{item.orginName}}</span>
                            </td>
                             <td >
                                 
                              <span>{{item.billToName}}</span>
                            </td>
                             <td >
                               <span>{{item.origin}}</span>
                            </td>
                             <td >
                               <span>{{item.destination}}</span>
                            </td>
                             <td >
                               <span>{{item.service}}</span>
                            </td>
                             <td >
                               <span>{{item.tracktor}}</span>
                            </td>
                             <td >
                                <span>{{item.trailer}}</span>
                            </td>
                             <td >
                                <span>{{item.ref}}</span>
                            </td>
                             <td >
                                <span>{{item.reftype}}</span>
                            </td>
                             <td >
                                <span>{{item.orderremark}}</span>
                            </td>
                             <td >
                                <a><span>More info</span></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div layout="row" layout-align="center center" ng-if="gridOptions.data.length === 0" layout-padding layout-margin>
                    <span ng-show="!isAdhocReportLoading">No data available</span>
                    <md-progress-circular md-diameter="20" ng-show="isAdhocReportLoading"></md-progress-circular><span ng-show="isAdhocReportLoading">Loading ...</span>

                </div>
                
               
            </div>
            
        </div>
              <div grid-data id='test' grid-options="gridOptions2" grid-actions="gridActions" ng-show="isOrderClicked">
            <div layout-gt-sm="row" layout-sm="column" layout-align="center">

                
                
                
            </div>
            <div style="overflow:scroll">
                <br>
                <br>
                <div layout="row " class="tittle">
                    Available  Trailers
                </div>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th></th>
                            <th >
                                <span>Trailer ID</span>
                            </th>
                            <th >
                                <span> Name</span>
                            </th>
                             <th >
                                <span> Type</span>
                            </th>
                             <th >
                                <span> Location</span>
                            </th>
                            
                             <th >
                                <span>Location history </span>
                            </th>
                             <th >
                                <span>Allocation status</span>
                            </th>
                             <th >
                                <span>Compliance status</span>
                            </th>
                             <th >
                                <span>Road worthiness Status</span>
                            </th>
                            
                             <th >
                                <span>Last DOT inspection date</span>
                            </th>
                             <th >
                                <span>Trailer acessory</span>
                            </th>
                             <th >
                                <span>Last Movement Date</span>
                            </th>
                           



                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr grid-item ng-click="doAllocate(item)"  ng-class="{selectedClass : item.trailerId === selectedTrailerId}">
                            <td>{{$index+1}}</td>
                             
                            <td >
                                <span>{{item.trailerId}}</span>
                            </td>
                            <td >
                                <span>{{item.trailerName}}</span>
                            </td>
                            <td >
                                <span>{{item.trailerType}}</span>
                            </td>
                             <td >
                                <span>{{item.trailerLocation}}</span>
                            </td>
                             <td >
                             <a><span> History</span></a> 
                            </td>
                             <td >
                               <span>{{item.allocationStatus}}</span>
                            </td>
                             <td >
                               <span>{{item.complianceStatus}}</span>
                            </td>
                             <td >
                               <span>{{item.roadWorthinessStatus}}</span>
                            </td>
                             <td >
                               <span>{{item.LastDotInspectionDate}}</span>
                            </td>
                             <td >
                                <span>{{item.trailerAccessory}}</span>
                            </td>
                            
                             
                             <td >
                                <span>{{item.lastMovementDate}}</span>
                            </td>
                            
                            

                        </tr>
                    </tbody>
                </table>
                <div layout="row" layout-align="center center" ng-if="gridOptions.data.length === 0" layout-padding layout-margin>
                    <span ng-show="!isAdhocReportLoading">No data available</span>
                    <md-progress-circular md-diameter="20" ng-show="isAdhocReportLoading"></md-progress-circular><span ng-show="isAdhocReportLoading">Loading ...</span>

                </div>
                
               
            </div>
            
        </div>
        </md-card-content>
              <div class="row" ng-show="isOrderClicked">
                  <md-button  class="md-raised md-warn"  style="background-color:#00264B;float: right;" ng-click="allocate()">
                Allocate
            </md-button>
              </div>
               </md-card>
    </div>
</md-content>


